@import url("https://fonts.googleapis.com/css?family=Sunflower:300,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Special+Elite&display=swap");
$family: "Sunflower", sans-serif;
$secondary: "Special Elite", cursive;
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
html,
body {
	background-color: rgb(58, 52, 65);
	color: rgb(255, 255, 255);
	font-family: $family;
	font-weight: 400;
	font-size: 62.5%;
	line-height: 1.7;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
	height: 100vh;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}
button {
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;
	text-align: inherit;
	border-radius: 0;
	background: transparent;
	color: inherit;
	font: inherit;
	line-height: normal;
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;
	-webkit-appearance: none;
}
li {
	list-style: none;
}
a {
	color: inherit;
	text-decoration: none;
}
button::-moz-focus-inner {
	border: 0;
	padding: 0;
}
form {
	position: relative;
	width: 20rem;
	margin-left: 2rem;
	margin-top: -4rem;
}

.chosen-value,
.value-list {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	z-index: 5;
}
.value-list {
	height: 15rem;
}
.chosen-value {
	font-family: "Ek Mukta";
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 4px;
	height: rem;
	font-size: 1.1rem;
	padding: 1rem;
	background-color: #fafcfd;
	border: 3px solid transparent;
	transition: 0.3s ease-in-out;

	&::-webkit-input-placeholder {
		color: #333;
	}

	&:hover {
		background-color: rgb(138, 118, 161);
		cursor: pointer;

		&::-webkit-input-placeholder {
			color: #333;
		}
	}

	&:focus,
	&.open {
		box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
		outline: 0;
		background-color: rgb(138, 118, 161);
		color: #000;

		&::-webkit-input-placeholder {
			color: #000;
		}
	}
}

.value-list {
	list-style: none;
	margin-top: 4rem;
	box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	max-height: 0;
	transition: 0.3s ease-in-out;

	&.open {
		max-height: 320px;
		overflow: auto;
	}

	li {
		position: relative;
		height: 4rem;
		background-color: #fafcfd;
		padding: 1rem;
		font-size: 1.1rem;
		display: flex;
		align-items: center;
		color: #222222;
		cursor: pointer;
		transition: background-color 0.3s;
		opacity: 1;

		&:hover {
			background-color: rgb(138, 118, 161);
		}

		&.closed {
			max-height: 0;
			overflow: hidden;
			padding: 0;
			opacity: 0;
		}
	}
}
h1 {
	font-size: 4rem;
	text-align: center;
	margin: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: $secondary;
	i {
		margin-left: 2rem;
	}
}
.center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.fa-check {
	font-size: 5rem;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-width: 80rem;
	margin-left: auto;
	margin-right: auto;
	height: 80vh;
	perspective: 1000px;
}
.movie-container {
	font-size: 1.9rem;
	display: flex;
	align-items: center;
}
.seat {
	background-color: rgb(99, 88, 112);
	height: 12px;
	width: 15px;
	margin: 4px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	transition: all 0.2s;
	&:hover {
		transform: scale(1.2);
		cursor: pointer;
	}
}
.showcase {
	background-color: rgba(0, 0, 0, 0.2);
	font-size: 1.7rem;
	margin: 3rem 0;
	.seat {
		&:hover {
			transform: scale(1) !important;
			cursor: default;
		}
	}
	ul {
		display: flex;
		justify-content: space-between;
		padding: 1rem 2rem;
		li {
			display: flex;
			justify-content: center;
			&:not(:last-of-type) {
				margin-right: 2rem;
			}
			align-items: center;
			small {
				margin-left: 0.5rem;
			}
		}
	}
}
.seat.selected {
	background-color: rgb(35, 138, 255);
}
.seat.occupied {
	background-color: #fff;
}
.seats .occupied {
	&:hover {
		transform: scale(1);

		cursor: not-allowed;
	}
}
.seat:nth-of-type(2) {
	margin-right: 18px;
}
.seat:nth-last-of-type(2) {
	margin-left: 18px;
}
.row {
	display: flex;
}
.seats {
	margin: 3rem 0;
}
p {
	font-size: 1.7rem;
	span {
		font-weight: bolder;
		color: rgb(17, 217, 231);
	}
}
.screen {
	background: #fff;
	height: 7rem;
	width: 50%;
	transform: rotateX(-45deg);
	box-shadow: 0 3px 10px rgba(#fff, 0.7);
}
.noseats {
	color: #ff4128;
	font-weight: bolder;
}
.checkout {
	margin-top: 4rem;
	font-size: 3rem;
	background-color: #85bb65;
	cursor: pointer;
	padding: 2rem 2.5rem;
	border-radius: 30px;
	font-weight: bolder;
	-webkit-box-shadow: 7px 7px 33px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 7px 7px 33px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 7px 7px 33px 0px rgba(0, 0, 0, 0.75);
	transform: translateY(-3px);
	transition: box-shadow 0.4s, transform 0.3s;
	text-align: center;
	display: none;
	i {
		margin-left: 0.8rem;
	}
	&:active {
		transform: translateY(0px);

		-webkit-box-shadow: 7px 7px 33px 0px rgba(0, 0, 0, 0);
		-moz-box-shadow: 7px 7px 33px 0px rgba(0, 0, 0, 0);
		box-shadow: 7px 7px 33px 0px rgba(0, 0, 0, 0);
	}
}
h2 {
	font-size: 5rem;
	text-align: center;
	width: 40%;
	margin: 0 auto;
}
